<h1>Thanks for volunteering!</h1>
<p>Please fill out your name, email, and phone number, and let us know which sessions you can volunteer at.</p>

<%= render 'form' %>

<%= link_to 'Back', volunteers_path %>
