<h1>Thanks for volunteering!</h1>
<p>Please sign up for all shifts you can and will work. Put them in your calendar. You will work all shifts chosen unless you hear otherwise. All volunteers will work Friday April 1 at the Fox at 5pm and Saturday April 9 the Art Institute at 530pm. Let Mia know if there is a problem.</p>

<%= render 'form' %>

<%= link_to 'Back', volunteers_path %>
